<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fromis Photo Swap</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">  
</head>

<body>
    <div id="d1">
	<h1>Fromis_9</h1>
    <hr>
    <h2>Before Debut :</h2>
    <form action="/after_debut">
        <button class="button-8" role="button">Click to see Fromis after debut</button>
	</form>
    <form action="/choose_member">
        <button class="button-8" role="button">Click to choose a member</button>
	</form>
    </div>
    

</body>

</html>