<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fromis Photo Swap</title>
    <link rel="stylesheet" href="/jiheon.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">  
</head>

<body>
    <div id="d1">
	<h1>Jiheon </h1> 
    <hr>
    <form action="/choose_member">
        <button class="button-8" role="button">Click to go back</button>
	</form>
    
    </div>
    

</body>

</html>